.standard-btn-text {
  color: var(--main-text-color);
  padding-left: 4px;
}

.standard-btn-icon-color {
  color: var(--main-text-color);
}

/* button para ganar en especificidad aun no se por que no agarra normal */
button .standard-btn-active {
  color: var(--white);
}
