.tab-Small-View__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 320px;
  gap: 10px;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  position: relative;
  transition: background 400ms;
  overflow: hidden;
  outline: 1px solid var(--border-color-secondary);
  border-radius: var(--border-radius-primary);
}

.tab-Small-View__container > img {
  width: 30px;
  height: 30px;
  border-radius: 6rem;
  object-fit: contain;
  object-position: center;
}

.tab-Small-View__container > span {
  font-size: var(--font-size-common);
  color: var(--main-text-color);
}

.tab-Small-View__container > svg {
  width: var(--icons-size-third);
  height: var(--icons-size-third);
}

.tab-Small-View__container > .close-btn-simple > svg {
  color: var(--main-text-color);
}

.tab-Small-View__container > .close-btn-simple:hover > svg {
  color: var(--error-color-primary-100);
}
