.tab-store-selection-container {
    display: flex;
    padding-block: 8px;
    gap: 6px;
}

.tab-store-selection-filter-view {
    display: flex;
    padding-block: 8px;
    gap: 6px;
    margin-left: auto;
}