.modal__bg-color {
  background-color: var(--bg-color);
}

.modal__container-grid-layout {
  grid-template-rows: fit-content(100%) auto;
}

/* modal animation*/
.modal__wrapper {
  height: 100vh;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
  transition: z-index 0.9s ease-out;
}

.modal__iconposition-wrapper {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal__circle-svg {
  width: 60px;
  height: 60px;
  transform-origin: center center;
  transition: transform 1s ease 0s;
  transform: scale(1);
}

.modal__circle-transform {
  transform: scale(100) translate3d(1%, 1%, 0);
}

/* modal container */

.modal__container-content {
  display: grid;
  height: 100vh;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  pointer-events: auto;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease 0s, transform 0.3s ease 0s;
  width: 100%;
}

.modal__container-content>div {
  display: grid;
  border-radius: 0.75rem;
  box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
    0 9px 46px 8px #0000001f;
  position: absolute;
}

.modal__default-padding {
  padding: clamp(1rem, 1.65vw, 1.75rem);
}

.modal__place-self-center {
  place-self: center;
}

.modal__layout-default-sizes {
  width: 310px;
  height: 260px;
}

.modal__close-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 10;
}

/* header */

.modal__header-dragger {
  position: absolute;
  width: 100%;
  height: 58px;
  left: 0;
  top: 0;
  cursor: move;
}

.modal__header {
  display: grid;
  grid-template-columns: auto 30px;
  padding-right: 0.625rem;
}

.modal__header-title {
  font-size: clamp(1rem, 1.6368vw, 1.5rem);
}

.modal__header-icon {
  display: none;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .modal__header-icon {
    display: grid;
  }
}