.common-btn {
  cursor: pointer;
  position: relative;
  transition: background 400ms;
  overflow: hidden;
  font-style: normal;
  border: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: var(--border-radius-secondary);
}

.common-btn:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primary-color);
  outline: var(--primary-color);
  border-radius: var(--border-radius-secondary);
}

.btn-primary span {
  color: var(--white);
}

.btn-outline {
  outline: 2px solid var(--main-text-color);
}

/* 16px */
.btn-xs {
  font-size: var(--font-size-standard);
}

/* 36px */
.btn-cmn-p {
  padding: 4px 18px;
}

.btn-active {
  background-color: var(--primary-color);
}
