.container-login {
    padding: 3px 16px;
}

.container-login-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.container-login-form div p {
    color: var(--error-color-primary-100);
}

.title-login-space {
    padding-block: 6px 24px;
    color: var(--main-text-color);
}

p.error-msg-login {
    position: relative;
    bottom: 19px;
    font-size: 0.875rem;
    color: var(--error-color-primary-100);
}

/* bottom after login btn */

.bottom-login-container {
    padding-top: 8px;
}

.tos-privacy p:nth-child(2) {
    display: flex;
    gap: 5px;
}

.tos-privacy p:nth-child(2) a {
    color: var(--primary-color);
    text-decoration: underline;
}

p.forgot-msg-login {
    position: relative;
    right: -56%;
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 13px;
    width: 138px;
    margin: 0;
}

p.forgot-msg-login:hover {
    color: var(--primary-color);
}

/* social media */

.login-social-media {
    padding-top: 6px;

}

.social-media-btns {
    padding-top: 32px;
}

.login-others-opts {
    padding: 10px 28px;
    text-align: center;
    cursor: pointer;
    color: var(--main-text-color);
}

.login-others-opts span {
    border-bottom: 1px solid var(--neutral-color-secondary);
}

.login-others-opts span:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}